.left-section {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    user-select: none;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    display: flex;
    flex-direction: column;
    width: 180px;
    border: solid;
    border-width: 0px;
    border-right-width: 1px;
    border-left-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    text-align: center;
    background-color: rgba(22, 22, 22, 0.781);
    overflow: hidden;
    border-color: rgba(117, 116, 116, 0.767);
}

.topics-container {
    flex: 1 1 auto;
    overflow-y: scroll;
    position: relative;
    padding-bottom: 72px;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */
}

.topics-container::-webkit-scrollbar {
    /* Chrome/Safari */
    display: none;
}

.main-topic,
.topics {
    border: solid;
    border-color: rgba(117, 116, 116, 0.767);
    border-width: 0px;
    border-bottom-width: 2px;
    font-size: 20px;
    font-family: 'Ubuntu', Arial;
    color: rgb(255, 255, 255);
    padding-top: 14px;
    padding-bottom: 14px;
    white-space: nowrap;
    overflow-wrap: break-word;
    transition: background-color 0.10s;
    padding-right: 30px;
    box-sizing: border-box;
    height: 54px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.topics {
    position: relative;
    animation: topics 0.6s ease;
}

.topics:hover {
    cursor: pointer;
    background-color: rgba(22, 22, 22, 0.781);
}

.main-topic {
    position: sticky;
    top: 0;
    z-index: 500;
    padding: 14px;
    font-weight: bold;
    border-bottom-width: 2px;
    font-family: 'Ubuntu', Arial;
    cursor: auto;
    background-color: rgb(30, 30, 30);
}

.plus {
    position: absolute;
    bottom: 30px;
    left: 86px;

}

.create-button {
    flex-shrink: 0;
    background-color: rgb(30, 30, 30);
    border: solid;
    border-width: 0px;
    border-top-width: 2px;
    border-color: rgba(117, 116, 116, 0.767);
    width: 100%;
    margin-top: auto;
    position: absolute;
    font-size: 18px;
    bottom: 0;
    left: 0px;
    cursor: pointer;
    color: white;
    z-index: 1000;
    padding-top: 15px;
}

.create-button:hover {
    background-color: rgba(22, 22, 22, 1);
}

.create-button:active {
    background-color: rgb(10, 10, 10);
}

.topics-selected {
    background-color: rgb(10, 10, 10);
}

.topics-selected:hover {
    background-color: rgb(0, 0, 0);
}

.delete-topic-icon {
    position: absolute;
    width: 25px;
    right: 10px;
    transition: background-color 0.2s;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
    top: 50%;
    transform: translate(20%, -50%);
}

.delete-topic-icon:hover {
    background-color: rgb(68, 68, 68);
}

@keyframes topics {
    from {
        transform: translateY(100px);
        border-top-width: 1px;
    }

    to {
        transform: translateY(0);
        border-top-width: 1px;
    }
}