.content-right {
    margin-left: 184px;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.middle-section {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: "Google Sans Flex", Arial;
    margin-right: 60px;
    border-right: 2px solid rgba(117, 116, 116, 0.767);
    border-top: 2px solid rgba(117, 116, 116, 0.767);
    margin-top: 1px;
    border-bottom: 2px solid rgba(117, 116, 116, 0.767);
    margin-bottom: 1px;
}

.user-typing {
    position: absolute;
    right: 0;
    left: 5px;
    bottom: 0px;
    height: 90px;
}

.text {
    position: absolute;
    bottom: 10px;
    left: 5px;
    right: 10px;
    flex: 1;
    display: flex;
    height: 50px;
    font-size: 23px;
    background-color: #696969;
    border-radius: 6px;
    border: none;
    color: white;
}

.input-text-container {
    background-color: black;
}

.text:focus {
    outline: 3px solid rgb(73, 73, 73);
}

.js-typing {
    margin-bottom: 20px;
    color: white;
}

.topic-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topics-settings {
    position: absolute;
    background-color: transparent;
    border: none;
    right: 20px;
    top: 6px;
    bottom: 10px;
    cursor: pointer;
}

.topics-settings img {
    width: 20px;
    height: 20px;
    padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    object-fit: contain;
    align-self: center;
}

.topics-settings:hover {
    background-color: rgba(117, 116, 116, 0.767);
    border-radius: 50px;
}

.topic-infos {
    font-family: "Google Sans Flex", Arial;
    display: flex;
    flex-direction: row;
    color: white;
    border: 2px solid;
    padding-bottom: 13px;
    border-left: none;
    padding-top: 15px;
    position: relative;
    border-color: rgba(117, 116, 116, 0.767);
    margin-top: 4px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

.topic-name {
    margin-right: 50px;
    min-width: 0;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-container {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */
    overflow-y: auto;
    padding: 10px;
    max-height: 85vh;

}

.js-chat {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}

.message {
    background-color: #696969;
    /* background-color: rgba(59, 59, 59); */
    border-radius: 5px;
    font-size: large;
    font-family: "Google Sans Flex", Arial;
    margin-left: 60px;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-all;
    padding-top: 13px;
    padding-bottom: 13px;
    max-width: 1400px;
}

.user-picture {
    display: flex;
    width: 45px;
    border-radius: 100px;
    height: 45px;
    margin-top: -50px;
    cursor: pointer;
}

.username {
    font-size: larger;
    margin-left: 10px;
    margin-left: 60px;
}

.username:hover {
    text-decoration: underline;
    cursor: pointer;
}

.topic-name {
    font-weight: bold;
    margin-left: 20px;
    flex: 0.3;
}

.members-text {
    display: flex;
    flex: 1;
    font-weight: bold;
}

.option-image {
    width: 10px;
}